.git
.github
.venv
venv
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
data
*.db
*.sqlite
*.sqlite3
.env
.idea
.vscode
*.swp
.DS_Store
opt
docs
tests
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
**/__pycache__/
